@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.root {
    background-image: url("/assets/gdstuffbg.png");
    background-size: cover;
    font-family: 'Albert Sans';
    color: white;
}

.root .separator {
    border: 1px solid white;
    border-radius: 5px;
}

/*
------ INFO
*/

.root .info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.root .info .infoUL {
    list-style-type: none;
}

.root .info .gdstuff {
    max-width: 75%;
}

/*
------ GD ICONS
*/

.root .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    background-color: rgba(67, 53, 99, 0.3);
    border-radius: 40px;
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
}

.root .icons .gdicon {
    padding: 15px;
}

/*
------ STATS
*/

.root .stats {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 53, 102, 0.3);
    border-radius: 40px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    font-size: 36px;
    width: 45%;
    float: left;
    position: absolute;
}

.root .stats .statsUL {
    list-style-type: none;
}

.root .stats_header {
    font-size: 56px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0px;
    font-weight: 1000;
    background: linear-gradient(to top, white, #a0ffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
}

.root .stats .psIcon {
    max-height: 36px;
    padding-left: 8px;
    transform: translateY(5px);
}

/*
------ DEMONS
*/

.root .demons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    background-color: rgba(102, 0, 0, 0.3);
    border-radius: 40px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    font-size: 36px;
    width: 45%;
    float: right;
    position: relative;
}

.root .demons .demonsUL {
    list-style-type: none;
}

.root .demons_header {
    font-size: 56px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0px;
    font-weight: 1000;
    background: linear-gradient(to top, white, #a0ffff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
}

.root .demons .psIcon {
    max-height: 36px;
    padding-left: 8px;
    transform: translateY(5px);
}

/*
------ LINKS
*/

.root .links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.root .links .btn {
    background-color: white;
    border-radius: 10px;
    border-width: 3px;
    border: solid;
    padding: 5px 50px;
    font-size: x-large;
    font-family: inherit;
    font-weight: bold;
    transition: all 0.1s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    cursor: pointer;
    margin: 5px;
}

.root .links .btn span {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.root .links .btn:hover {
    transform: scale(0.95);
    background-color: #a0ffff;
}

.root .links .btn .btnImg {
    max-height: 25px;
    padding-right: 8px;
}

/*
------ Demon Table
*/

.root .demon_table_holder {
    margin-left: 5rem;
    margin-right: 5rem;
}

.root .demon_table {
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 1rem;
    width: 100%;
    font-size: 24px;
    overflow-y: auto;
    height: 5rem;
}

.root .demon_table .trophy {
    max-height: 2rem;
    transform: translateY(8px) translateX(12px);
}

.root .demon_table .demonLink {
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    padding-left: 85px;
}

.root .demon_table .demonLink:hover {
    text-decoration: underline;
}

.root .demon_table .idLink {
    color: white;
    text-decoration: none;
}

.root .demon_table .idLink:hover {
    text-decoration: underline;
}

.root .demon_table .demonLinkHardest {
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgb(0, 174, 255);
    padding-left: 85px;
}

.root .demon_table .demonLinkHardest:hover {
    text-decoration: underline;
}

.root .demon_table .demonDiffFace {
    max-height: 72px;
    transform: translateY(-14px);
    position: absolute;
}

.root .demon_table .demonBG {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
}

/*
------ Errors
*/

.root .error {
    background-color: red;
    border-radius: 10px;
    padding: 5px;
}